#title{
    background-color: aqua;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

h1{
    font-style:italic;
    display: flex;
    
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;



}

#sems{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}



p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: normal;
}


    